################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/GateWay/.vs/GateWay
/Servidor/.vs/Servidor
/Sensor/.vs/Sensor
/Sensor/obj
/Servidor/obj
/GateWay/obj
/Sensor/packages
